.style--black {
  a {
    color: $white !important;
    font-weight: 700;
  }
}

.style--gray-dark {
  background-color: $gray-darker;
  color: $white;

  a {
    color: $white !important;
  }
}

.style--off-white {
  background-color: $off-white;

  a {
    color: $black !important;
    font-weight: 700;
  }
}

.style--bright {
  background-color: $yellow;

  a {
    color: $black !important;
    font-weight: 700;
  }
}

.block--center-elements {
  .block-title,
  .more-link,
  .pager,
  .pager a {
    text-align: center !important;
  }
}
