a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

section#block-sitebranding {
  float: left;
  width: 20%;
}

section#block-tm-theme-alpha-main-menu {
  float: right;
  width: 80%;
  font-family: $font-family-monospace;
}

footer.footer {
  background-color: $off-white;
}

section.block--id--10 {
  background: #FFFF00;
  margin-top: -22px;
  text-align: center;
  padding: 6px;
  font-family: $font-family-monospace;
  font-size: 0.9em;
}
